@model SchoolMVC.Models.StudentModels.StudentModel
@using (Ajax.BeginForm("SaveNew", "Student", new AjaxOptions { HttpMethod = "POST", OnSuccess = "LoadStudentTable(data)" }))
{   
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(s => s.StudentID)
                @Html.TextBoxFor(s => s.StudentID, new { @class = "form-control", @placeholder = "Student ID" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.StudentName)
                @Html.TextBoxFor(s => s.StudentName, new { @class = "form-control", @placeholder = "Student Name" })
                @Html.ValidationMessageFor(s => s.StudentName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Address.Address1)
                @Html.TextBoxFor(s => s.Address.Address1, new { @class = "form-control", @placeholder = "Address 1" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Address.Address2)
                @Html.TextBoxFor(s => s.Address.Address2, new { @class = "form-control", @placeholder = "Address 2" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(s => s.StandardID)
                @Html.DropDownListFor(s => s.StandardID, Model.SelectListStandard, "Select Standard", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.RowVersion)
                @Html.TextBoxFor(s => s.RowVersion, new { @class = "form-control", @placeholder = "Row Version" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Address.City)
                @Html.TextBoxFor(s => s.Address.City, new { @class = "form-control", @placeholder = "City" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Address.State)
                @Html.TextBoxFor(s => s.Address.State, new { @class = "form-control", @placeholder = "State" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="hidden" type="submit" id="BtnConfirmSaveNewStudent"></button>
        <button class="btn btn-primary" type="button" id="BtnSaveNewStudent">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
}